
$border-danger: 2px dotted red;
$border-warning: 2px dotted yellow;
$border-success: 2px dotted green;
$border-info: 2px dotted blue;


.alert-danger{
  border: $border-danger;
  background-color: rgba(254, 26, 26, 0.07);
  color: red;
}
.alert-warning{
  border: $border-warning;
  background-color: rgba(254, 254, 25, 0.02);
  color: rgb(255, 255, 73);
}
.alert-success{
  border: $border-success;
  background-color: rgba(20, 255, 20, 0.026);
  color: rgb(26, 197, 26);

}
.alert-info{
  border: $border-info;
  background-color: rgba(9, 9, 255, 0.055);
  color: rgb(111, 111, 255);
}

.alert-wrapper{
  padding-inline: 1.5rem;
  margin-bottom: 2rem;
}
.alert-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.alert-title{
  display: flex;
  align-items: center;
  gap: .5rem;
  .title{
    font-weight: bold;

  }
}
